a{color:#FBFDB0;font-family:verdana;cursor:pointer;text-decoration:none;font-weight:bold;}
.c_title{font-family: tahoma;font-size: 25px;color:#86EE59;font-weight:bold}
h3{font-family:'tahoma';font-size: 25px;color:#86EE59;font-weight:bold}
input{background:#222222;color:#99D6FF;border:solid 1px #bbbbbb;font-family:'trebuchet ms'}
.input_radio{border:none !important;}
textarea{background:#222222;color:#99D6FF}
.output_text{font-family: "courier new";font-size: 14px;color:#EBEE80}
.output_body{background:#000000;}
iframe{background:#000001;border:solid 1px #bbbbbb}
body{background:#000001;color:#99D6FF;font-family:verdana;font-size:16px;}
.floating{position:absolute;background-color:#222222;border:solid 2px #99d6ff;overflow-x:hidden;overflow-y:hidden;}
.divbutton{position:absolute;background:#444444;color:#FBFDB0;font-family:verdana;font-size:12;cursor:pointer;text-decoration:none;font-weight:bold;text-align:center;vertical-align:center;border:solid 2px #99d6ff;overflow-x:hidden;overflow-y:hidden;}
.divselect{background:#222222;color:#99D6FF;overflow-x:hidden;overflow-y:scroll;border:solid 2px #ffffff;cursor:cursor;}
.divoption{background:#222222;color:#99D6FF;font-family:"ו";font-size:13px;cursor:pointer;padding-left:1px;padding-top:1px;text-decoration:none;}